@import url(https://fonts.googleapis.com/css?family=Exo:100,200,300);

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#foobar {
  position: relative;
  left: 400px;
}

#toto {
  display: none;
}

.neon {
  color: #fff;
}

body {
  background-color: black;
}
#game {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 300px;
  border: 5px solid black;
  margin: 80px auto;
  background-image: url("1496909646_tumblr_static_d1q2by73uv40084wg488gwkgo.gif");
  background-size: cover;
  visibility: hidden;
}

#word-input {
  position: relative;
  top: 510px;
  left: 300px;
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 2em;
  background-color: yellow;
  font-family: Exo;
  font-weight: 300;
}

#fallingWords {
  width: 900px;
}

.falling {
  font-family: Exo;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  position: relative;
  margin: 0;
  padding: 0;
  animation: fallingTop 5s linear;
  animation-fill-mode: forwards;
}

.fallingSentence {
  position: relative;
  left: 400px;
  animation: fallingTop 10s linear;
  animation-fill-mode: forwards;
  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
}

@keyframes fallingTop {
  0% {
    top: -40px;
  }

  90% {
    top: 350px;
    opacity: 1;
  }

  100% {
    top: 350px;
    opacity: 0;
    color: red;
  }
}

.score h2 {
  position: relative;

  text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 20px #fff, 0 0 40px #0ff,
    0 0 80px #0ff, 0 0 90px #0ff, 0 0 100px #0ff, 0 0 150px #0ff;
  left: 800px;
  bottom: 20px;
  /* border: 2px double red; */
  width: 160px;
}

.about {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 300px;
  border: 2px solid black;
  margin: 80px auto;
  background-color: purple;
  visibility: hidden;
}

.home {
  position: absolute;
  left: 300px;
  width: 1000px;
  height: 500px;
  border: 2px solid geen;
  margin: 80px auto;
  background-color: rgb(82, 13, 128);
  visibility: visible;
}

.home img {
  position: relative;
  font-size: 5em;
  height: 537px;
  width: 900px;
  left: 0px;
  text-align: center;
  color: blue;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  top: 100px;
  left: 892px;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.exo {
  font-family: Exo;
  font-size: 1em;
}

.wrapper2 {
  position: absolute;
  top: 200px;
  left: 892px;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.wrapper3 {
  position: absolute;
  top: 420px;
  left: 892px;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.wrapper4 {
  position: absolute;
  top: 300px;
  left: 800px;
}

.flex {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  text-align: center;
}
.difficulty {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 300px;
  border: 2px solid black;
  margin: 80px auto;
  background-color: purple;
  visibility: hidden;
}

.difficulty h1 {
  margin-top: 20px;
  margin-bottom: 30px;
  color: white;
  text-align: center;
  font-size: 4em;
}

.wrapper5 img {
  width: auto;
  height: 180px;
  background: transparent;
}

.wrapper6 img {
  width: auto;
  height: 180px;
}

.wrapper7 img {
  width: auto;
  height: 180px;
}

.wrapper10 {
  position: relative;
  top: 20px;
  left: 400px;
}

button {
  width: 180px;
  height: 50px;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.1s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  transition: all 0.1s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
