* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
}
#game {
  position: relative;
  width: 1000px;
  height: 500px;
  bottom: 600px;
  border: 5px solid black;
  margin: 100px auto;
  background-color: purple;
  visibility: hidden;
}

#word-input {
  position: relative;
  top: 510px;
  left: 300px;
  width: 400px;
  height: 50px;
  text-align: center;
  font-size: 2em;
  background-color: yellow;
}

#fallingWords {
  width: 1000px;
}

.falling {
  position: relative;
  margin: 0;
  padding: 0;
  animation: fallingTop 5s linear;
  animation-fill-mode: forwards;
}

.fallingSentence {
  position: relative;
  left: 400px;
  animation: fallingTop 12s linear;
  animation-fill-mode: forwards;
}

@keyframes fallingTop {
  0% {
    top: -40px;
  }

  90% {
    top: 350px;
    opacity: 1;
  }

  100% {
    top: 350px;
    opacity: 0;
    color: black;
  }
}

.score h2 {
  position: relative;
  color: red;
  left: 850px;
  bottom: 20px;
}

.about {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 289px;
  bottom: 70px;
  border: 2px solid black;
  margin: 100px auto;
  background-color: purple;
  visibility: hidden;
}

.home {
  position: relative;

  width: 1000px;
  height: 500px;
  border: 2px solid geen;
  margin: 100px auto;
  background-color: purple;
  visibility: visible;
}

.home img {
  position: relative;
  font-size: 5em;
  height: 537px;
  width: 900px;
  left: 0px;
  text-align: center;
  color: blue;
  margin: 0;
  padding: 0;
}

.wrapper {
  position: absolute;
  top: 100px;
  left: 892px;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.wrapper2 {
  position: absolute;
  top: 200px;
  left: 892px;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.wrapper3 {
  position: absolute;
  top: 420px;
  left: 892px;
  transform: translate(-50%, -50%);
  width: fit-content;
  height: auto;
}

.wrapper4 {
  position: absolute;
  top: 300px;
  left: 800px;
}

.difficulty {
  position: absolute;
  width: 1000px;
  height: 500px;
  left: 289px;
  bottom: 70px;
  border: 2px solid black;
  margin: 100px auto;
  background-color: purple;
  visibility: hidden;
}

.wrapper5 {
}

.wrapper6 {
}

.wrapper7 {
}

.wrapper10 {
}

button {
  width: 180px;
  height: 50px;
  background: linear-gradient(to left top, #c32c71 50%, #b33771 50%);
  border-style: none;
  color: #fff;
  font-size: 23px;
  letter-spacing: 3px;
  font-family: "Lato";
  font-weight: 600;
  outline: none;
  cursor: pointer;
  position: relative;
  padding: 0px;
  overflow: hidden;
  transition: all 0.5s;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}

button:hover {
  transition: all 0.5s;
  transform: rotate(-3deg) scale(1.1);
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.4);
}
